<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="StorageDefaultConnection" value="UseDevelopmentStorage=true" />

	  <!--<add key="ImgCloudPath" value=""/>-->
	  <add key="ImgCloudPath" value="https://student..org/"/>
    <!--<add key="baseUrl" value="https://.com/admissionportal" />-->
    <!--<add key="baseUrl" value="/admissionportal/admissionportal" />-->
	  <add key="baseUrl" value="https://youth..org" />
	  <!--<add key="baseUrl" value="https://localhost:7071" />-->
	  <add key="univCode" value="NewsUI" />
	  <add key="univName" value="" />
	  <add key="univAddress" value="VRS" />

    <add key="HSTSHeader" value="true" />
    <!-- Email settings -->
    <add key="mailHost" value="smtp.gmail.com" />
    <add key="port" value="587" />
    <add key="fromEmail" value="no-reply@.com" />
    <add key="ReplyEmail" value="enquiry@.com" />
    <add key="username" value="amitkr.msspl@gmail.com" />
    <add key="password" value="" />

    <add key="GEmailFrom" value="amitkr.@gmail.com" />
    <add key="GEmailUsername" value="amitkr.@gmail.com" />
    <add key="GEmailPassword" value="ak1@9932332" />
    <!-- Cloud File Upload settings -->
    <add key="PhotoPath" value="\UserDoc\Photo\"/>
    <add key="SignPath" value="\UserDoc\Signature\"/>
	  <add key="DocPath" value="\UserDoc\Docfile\"/>


    <add key="InvoiceFolder" value="invoice/" />
    <!-- Page Size settings -->
    <add key="pageSize" value="25" />

    <!--//////////////////payment//////////////-->

    <add key="MERCHANT_KEY" value="rkWKcz" />
    <add key="SALT" value="wFiqRSYuxZPr7UCsQq7uxIxkaFCzTuug" />
    <add key="Gateway_URL" value="https://secure.payu.in/" />
    <add key="action" value="_payment" />

    <!--<add key="surl" value="https://localhost:44318/PaymentSuccess" />-->
    <!--<add key="scurl" value="https://localhost:44318/Payment-Success" />-->
    
    
    
    <!--<add key="surl" value="/PaymentSuccess" />
    <add key="scurl" value="/Payment-Success" />-->
    
    <add key="furl" value="/PaymentFail" />
    <add key="curl" value="/PaymentCancel" />
    <add key="hashSequence" value="key|txnid|amount|productinfo|firstname|email|udf1|udf2|udf3|udf4|udf5|udf6|udf7|udf8|udf9|udf10" />

    <!--////////////////////////////////-->

    <add key="pageSizeQuery" value="50" />
	  <add key="DbConnection" value="data source=103.115.194.115,9162; initial catalog=AgraUniversityAdmission2023;persist security info=True;user id=amit;password=amit123$; MultipleActiveResultSets=True; App=EntityFramework" />

	  <add key="DbConnectionAGRA_SEMESTER_RW" value="data source=103.115.194.115,9162; initial catalog=AgraUniversityAdmission2023;persist security info=True;user id=amit;password=amit123$; MultipleActiveResultSets=True; App=EntityFramework" />



  </appSettings>
</configuration>