<footer id="footer" class="hidden-print navbar-default">
    <hr />
    <div class="container">
        <p style="float: right;">
            Copyright © @DateTime.Now.Year Dr Bhimrao Ambedkar University. All Rights Reserved.
        </p>
        <p>
            
        </p>
    </div>
</footer>