<footer id="footer" class="hidden-print navbar-default  ">
   
    <div class="p-2">
        <p>
            Copyright © @DateTime.Now.Year Dr Bhimrao Ambedkar University. All Rights Reserved.
           @*  <span style="font-size:10px">Visitors: <span id="liveVisitors">0</span></span> *@
        </p>
        
    </div>
</footer>
